<% layout('layouts/boilerplate')%>

<div class="content-wrapper js-content-wrapper">


    <section class="page-header -type-1">
        <div class="container">
            <div class="page-header__content">
                <div class="row justify-center text-center">
                    <div class="col-auto">
                        <div data-anim="slide-up delay-1">
                            <h1 class="page-header__title">Latest News</h1>
                        </div>

                        <div data-anim="slide-up delay-2">
                            <p class="page-header__text">
                                We’re on a mission to deliver engaging, curated
                                courses at a reasonable price.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="layout-pt-md layout-pb-lg">
        <div data-anim-wrap class="container">
            <div class="row y-gap-30 justify-center">
                <div data-anim="slide-up delay-1" class="col-lg-10 col-md-11">
                    <div class="blogCard -type-3">
                        <div class="row y-gap-30 items-center">
                            <div class="col-lg-6">
                                <div class="blogCard__image">
                                    <img
                                        class="rounded-8"
                                        src="img/blog-list/big/1.png"
                                        alt="image"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div
                                    class="blogCard__content pl-60 lg:pl-40 md:pl-0"
                                >
                                    <a
                                        href="blog-single.html"
                                        class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                                        >EDUCATION</a
                                    >
                                    <h4
                                        class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                                    >
                                        Eco-Education in Our Lives: We Can
                                        Change the Future
                                    </h4>
                                    <p class="blogCard__text mt-20">
                                        Our features, journey, tips and us being
                                        us. Lorem ipsum dolor sit amet, accumsan
                                        in, tempor dictum neque.
                                    </p>
                                    <div
                                        class="blogCard__button d-inline-block mt-20"
                                    >
                                        <a
                                            href="#"
                                            class="button -sm -purple-3 text-purple-1"
                                        >
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-anim="slide-up delay-1" class="col-lg-10 col-md-11">
                    <div class="blogCard -type-3">
                        <div class="row y-gap-30 items-center">
                            <div class="col-lg-6">
                                <div class="blogCard__image">
                                    <img
                                        class="rounded-8"
                                        src="img/blog-list/big/2.png"
                                        alt="image"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div
                                    class="blogCard__content pl-60 lg:pl-40 md:pl-0"
                                >
                                    <a
                                        href="blog-single.html"
                                        class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                                        >EDUCATION</a
                                    >
                                    <h4
                                        class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                                    >
                                        8 great design trends that are making a
                                        come-back in 2021
                                    </h4>
                                    <p class="blogCard__text mt-20">
                                        Our features, journey, tips and us being
                                        us. Lorem ipsum dolor sit amet, accumsan
                                        in, tempor dictum neque.
                                    </p>
                                    <div
                                        class="blogCard__button d-inline-block mt-20"
                                    >
                                        <a
                                            href="#"
                                            class="button -sm -purple-3 text-purple-1"
                                        >
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-anim="slide-up delay-1" class="col-lg-10 col-md-11">
                    <div class="blogCard -type-3">
                        <div class="row y-gap-30 items-center">
                            <div class="col-lg-6">
                                <div class="blogCard__image">
                                    <img
                                        class="rounded-8"
                                        src="img/blog-list/big/3.png"
                                        alt="image"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div
                                    class="blogCard__content pl-60 lg:pl-40 md:pl-0"
                                >
                                    <a
                                        href="blog-single.html"
                                        class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                                        >EDUCATION</a
                                    >
                                    <h4
                                        class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                                    >
                                        19 ways to optimize your ad marketing
                                        budget efficiently
                                    </h4>
                                    <p class="blogCard__text mt-20">
                                        Our features, journey, tips and us being
                                        us. Lorem ipsum dolor sit amet, accumsan
                                        in, tempor dictum neque.
                                    </p>
                                    <div
                                        class="blogCard__button d-inline-block mt-20"
                                    >
                                        <a
                                            href="#"
                                            class="button -sm -purple-3 text-purple-1"
                                        >
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-anim="slide-up delay-1" class="col-lg-10 col-md-11">
                    <div class="blogCard -type-3">
                        <div class="row y-gap-30 items-center">
                            <div class="col-lg-6">
                                <div class="blogCard__image">
                                    <img
                                        class="rounded-8"
                                        src="img/blog-list/big/4.png"
                                        alt="image"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div
                                    class="blogCard__content pl-60 lg:pl-40 md:pl-0"
                                >
                                    <a
                                        href="blog-single.html"
                                        class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                                        >EDUCATION</a
                                    >
                                    <h4
                                        class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                                    >
                                        8 interesting programming languages you
                                        should be paying attention to
                                    </h4>
                                    <p class="blogCard__text mt-20">
                                        Our features, journey, tips and us being
                                        us. Lorem ipsum dolor sit amet, accumsan
                                        in, tempor dictum neque.
                                    </p>
                                    <div
                                        class="blogCard__button d-inline-block mt-20"
                                    >
                                        <a
                                            href="#"
                                            class="button -sm -purple-3 text-purple-1"
                                        >
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-center pt-60 lg:pt-40">
                <div class="col-auto">
                    <div class="pagination -buttons">
                        <button class="pagination__button -prev">
                            <i class="icon icon-chevron-left"></i>
                        </button>

                        <div class="pagination__count">
                            <a href="#">1</a>
                            <a class="-count-is-active" href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">67</a>
                        </div>

                        <button class="pagination__button -next">
                            <i class="icon icon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer -type-1 bg-dark-1 -green-links">
        <div class="container">
            <div class="footer-header">
                <div class="row y-gap-20 justify-between items-center">
                    <div class="col-auto">
                        <div class="footer-header__logo">
                            <img src="img/footer/footer-logo.svg" alt="logo" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="footer-header-socials">
                            <div
                                class="footer-header-socials__title text-white"
                            >
                                Follow us on social media
                            </div>
                            <div class="footer-header-socials__list">
                                <a href="#"><i class="icon-facebook"></i></a>
                                <a href="#"><i class="icon-twitter"></i></a>
                                <a href="#"><i class="icon-instagram"></i></a>
                                <a href="#"><i class="icon-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-columns">
                <div class="row y-gap-30">
                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <div class="text-17 fw-500 text-white uppercase mb-25">
                            ABOUT
                        </div>
                        <div class="d-flex y-gap-10 flex-column">
                            <a href="about-1.html">About Us</a>
                            <a href="blog-list-1.html">Learner Stories</a>
                            <a href="instructor-become.html">Careers</a>
                            <a href="blog-list-1.html">Press</a>
                            <a href="#">Leadership</a>
                            <a href="contact-1.html">Contact Us</a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-8">
                        <div class="text-17 fw-500 text-white uppercase mb-25">
                            CATEGORIES
                        </div>
                        <div class="row justify-between y-gap-20">
                            <div class="col-md-6">
                                <div class="d-flex y-gap-10 flex-column">
                                    <a href="courses-single-1.html"
                                        >Development</a
                                    >
                                    <a href="courses-single-2.html">Business</a>
                                    <a href="courses-single-3.html"
                                        >Finance & Accounting</a
                                    >
                                    <a href="courses-single-4.html"
                                        >IT & Software</a
                                    >
                                    <a href="courses-single-5.html"
                                        >Office Productivity</a
                                    >
                                    <a href="courses-single-6.html">Design</a>
                                    <a href="courses-single-1.html"
                                        >Marketing</a
                                    >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="d-flex y-gap-10 flex-column">
                                    <a href="courses-single-1.html"
                                        >Lifiestyle</a
                                    >
                                    <a href="courses-single-2.html"
                                        >Photography & Video</a
                                    >
                                    <a href="courses-single-3.html"
                                        >Health & Fitness</a
                                    >
                                    <a href="courses-single-4.html">Music</a>
                                    <a href="courses-single-5.html"
                                        >UX Design</a
                                    >
                                    <a href="courses-single-6.html">Seo</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 offset-xl-1 col-lg-4 col-md-6">
                        <div class="text-17 fw-500 text-white uppercase mb-25">
                            SUPPORT
                        </div>
                        <div class="d-flex y-gap-10 flex-column">
                            <a href="terms.html">Documentation</a>
                            <a href="help-center.html">FAQS</a>
                            <a href="dashboard.html">Dashboard</a>
                            <a href="contact-1.html">Contact</a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="text-17 fw-500 text-white uppercase mb-25">
                            GET IN TOUCH
                        </div>
                        <div class="footer-columns-form">
                            <div>We don’t send spam so don’t worry.</div>
                            <form action="post">
                                <div class="form-group">
                                    <input type="text" placeholder="Email..." />
                                    <button type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-30 border-top-light-15">
                <div class="row justify-between items-center y-gap-20">
                    <div class="col-auto">
                        <div class="d-flex items-center h-100 text-white">
                            © 2022 Educrat. All Right Reserved.
                        </div>
                    </div>

                    <div class="col-auto">
                        <div
                            class="d-flex x-gap-20 y-gap-20 items-center flex-wrap"
                        >
                            <div>
                                <div class="d-flex x-gap-15 text-white">
                                    <a href="help-center.html">Help</a>
                                    <a href="terms.html">Privacy Policy</a>
                                    <a href="terms.html">Cookie Notice</a>
                                    <a href="terms.html">Security</a>
                                    <a href="terms.html">Terms of Use</a>
                                </div>
                            </div>

                            <div>
                                <a
                                    href="#"
                                    class="button px-30 h-50 -dark-6 rounded-200 text-white"
                                >
                                    <i class="icon-worldwide text-20 mr-15"></i
                                    ><span class="text-15">English</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
