<%- include ("../../utils/symbol.svg") %> 
<% if(success?.length) { %>
<div class="flash content-wrapper js-content-wrapper alert alert-success alert-dismissible fade show" role="alert">
  <svg
    class="bi flex-shrink-0 me-2"
    width="24"
    height="24"
    role="img"
    aria-label="Success:"
  >
    <use xlink:href="#check-circle-fill" />
  </svg>
  <strong><%= success %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> 
<% if(error?.length) { %>
<div class="flash alert alert-danger alert-dismissible fade show" role="alert">
  <svg
    class="bi flex-shrink-0 me-2"
    width="20"
    height="20"
    role="img"
    aria-label="Danger:"
  >
    <use xlink:href="#exclamation-triangle-fill" />
  </svg>
  <strong><%= error %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
