<footer class="footer -type-1 bg-dark-1 -green-links">
    <div class="container">
        <div class="footer-header">
            <div class="row y-gap-20 justify-between items-center">
                <div class="col-auto">
                    <div class="footer-header__logo">
                        <a data-barba href="/" class="text-30 text-white">
                            Eduboard
                        </a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="footer-header-socials">
                        <div class="footer-header-socials__title text-white">
                            Follow us on social media
                        </div>
                        <div class="footer-header-socials__list">
                            <a
                                href="https://www.facebook.com/profile.php?id=100047967413515"
                                ><i class="icon-facebook"></i
                            ></a>
                            <a href="https://twitter.com/tmthanh72507007"
                                ><i class="icon-twitter"></i
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-columns">
            <div class="row y-gap-30">
                <div class="col-xl-2 col-lg-4 col-md-6">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        ABOUT
                    </div>
                    <div class="d-flex y-gap-10 flex-column">
                        <a href="#">About Us</a>
                        <a href="#">Careers</a>
                        <a
                            href="https://github.com/tmhuyy/online-examination-system/tree/dev"
                            >Contact Us</a
                        >
                    </div>
                </div>

                <div class="col-xl-4 col-lg-8">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        CATEGORIES
                    </div>
                    <div class="row justify-between y-gap-20">
                        <div class="col-md-6">
                            <div class="d-flex y-gap-10 flex-column">
                                <a href="#">
                                    School of Industrial Engineering and
                                    Management
                                </a>
                                <a href="#"> School of Business </a>
                                <a href="#">
                                    School of Computer Science and Engineering
                                </a>
                                
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex y-gap-10 flex-column">
                                <a href="#">
                                    School of Chemical and Environmental
                                    Engineering
                                </a>
                                <a href="#">School of Languages</a>
                                <a href="#">
                                    School of Economics, Finance and Accounting
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 offset-xl-1 col-lg-4 col-md-6">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        SUPPORT
                    </div>
                    <div class="d-flex y-gap-10 flex-column">
                        <a href="https://github.com/tmhuyy/online-examination-system">Documentation</a>
                        <a href="#">FAQS</a>
                        <a href="mailto:ITITIU20219@student.hcmiu.edu.vn">Contact</a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        GET IN TOUCH
                    </div>
                    <div class="footer-columns-form">
                        <div>Please do not spam</div>
                        <form action="post">
                            <div class="form-group">
                                <a
                                    class="text-white-4 button -sm -purple-1"
                                    href="mailto:ITITIU20219@student.hcmiu.edu.vn"
                                    >CONTACT US</a
                                >
                                <!-- <input type="text" placeholder="Email..." />
                                <button type="submit" >Submit</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-30 border-top-light-15">
            <div class="row justify-between items-center y-gap-20">
                <div class="col-auto">
                    <div class="d-flex items-center h-100 text-white">
                        © 2022 Eduboard. All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
