<footer class="footer -type-1 bg-dark-1 -green-links">
    <div class="container">
        <div class="footer-header">
            <div class="row y-gap-20 justify-between items-center">
                <div class="col-auto">
                    <div class="footer-header__logo">
                        <a data-barba href="/" class="text-30 text-white">
                            Eduboard
                          </a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="footer-header-socials">
                        <div class="footer-header-socials__title text-white">
                            Follow us on social media
                        </div>
                        <div class="footer-header-socials__list">
                            <a href="https://www.facebook.com/profile.php?id=100047967413515"><i class="icon-facebook"></i></a>
                            <a href="https://twitter.com/tmthanh72507007"><i class="icon-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-columns">
            <div class="row y-gap-30">
                <div class="col-xl-2 col-lg-4 col-md-6">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        ABOUT
                    </div>
                    <div class="d-flex y-gap-10 flex-column">
                        <a href="#">About Us</a>
                        <a href="#">Learner Stories</a>
                        <a href="#">Careers</a>
                        <a href="https://github.com/tmhuyy/online-examination-system/tree/dev">Contact Us</a>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-8">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        CATEGORIES
                    </div>
                    <div class="row justify-between y-gap-20">
                        <div class="col-md-6">
                            <div class="d-flex y-gap-10 flex-column">
                                <a href="#">Development</a>
                                <a href="#">Business</a>
                                <a href="#"
                                    >Finance & Accounting</a
                                >
                                <a href="#"
                                    >IT & Software</a
                                >
                                <a href="#"
                                    >Office Productivity</a
                                >
                                <a href="#">Design</a>
                                <a href="#">Marketing</a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex y-gap-10 flex-column">
                                <a href="#">Lifiestyle</a>
                                <a href="#"
                                    >Photography & Video</a
                                >
                                <a href="#"
                                    >Health & Fitness</a
                                >
                                <a href="#">Music</a>
                                <a href="#">UX Design</a>
                                <a href="#">Seo</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 offset-xl-1 col-lg-4 col-md-6">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        SUPPORT
                    </div>
                    <div class="d-flex y-gap-10 flex-column">
                        <a href="terms.html">Documentation</a>
                        <a href="help-center.html">FAQS</a>
                        <a href="dashboard.html">Dashboard</a>
                        <a href="contact-1.html">Contact</a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="text-17 fw-500 text-white uppercase mb-25">
                        GET IN TOUCH
                    </div>
                    <div class="footer-columns-form">
                        <div>We don’t send spam so don’t worry.</div>
                        <form action="post">
                            <div class="form-group">
                                <input type="text" placeholder="Email..." />
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-30 border-top-light-15">
            <div class="row justify-between items-center y-gap-20">
                <div class="col-auto">
                    <div class="d-flex items-center h-100 text-white">
                        © 2022 Educrat. All Right Reserved.
                    </div>
                </div>

                <div class="col-auto">
                    <div
                        class="d-flex x-gap-20 y-gap-20 items-center flex-wrap"
                    >
                        <div>
                            <div class="d-flex x-gap-15 text-white">
                                <a href="help-center.html">Help</a>
                                <a href="terms.html">Privacy Policy</a>
                                <a href="terms.html">Cookie Notice</a>
                                <a href="terms.html">Security</a>
                                <a href="terms.html">Terms of Use</a>
                            </div>
                        </div>

                        <div>
                            <a
                                href="#"
                                class="button px-30 h-50 -dark-6 rounded-200 text-white"
                            >
                                <i class="icon-worldwide text-20 mr-15"></i
                                ><span class="text-15">English</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
