<header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header ">


  <div class="header__container">
    <div class="row justify-between items-center">

      <div class="col-auto">
        <div class="header-left">
          <!-- logo -->
          <div class="header__logo ">
            <a data-barba href="/" class="text-35 fw-600 text-white">
              Eduboard
            </a>

          </div>


          <div class="header__explore text-green-1 ml-60 xl:ml-30 xl:d-none">
            
          </div>

        </div>
      </div>

      <!-- mobile menu -->
      <div class="header-menu js-mobile-menu-toggle ">
        <div class="header-menu__content">
          <div class="mobile-bg js-mobile-bg"></div>

          <div class="d-none xl:d-flex items-center px-20 py-20 border-bottom-light">
            <% if (!student) { %>
            <a href="/login" class="text-dark-1">Log in</a>
            <% } else { %>
              <form action="/logout" method="POST">
                <button type="submit" class="text-white">Log Out</button>
              </form> 
            <!-- <a href="/logout" class="text-dark-1">Log out</a> -->
            <% } %>

          </div>

          <div class="menu js-navList">
            <ul class="menu__nav text-white -is-active">
              <!-- link HOME -->
              <!-- <li class="menu-item-has-children">
                <a data-barba href="#">
                  Home <i class="icon-chevron-right text-13 ml-10"></i>
                </a>

                <ul class="subnav">
                  <li class="menu__backButton js-nav-list-back">
                    <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Home</a>
                  </li>

                  <li><a href="index.html">Home 1</a></li>

                  <li><a href="home-2.html">Home 2</a></li>

                  <li><a href="home-3.html">Home 3</a></li>

                  <li><a href="home-4.html">Home 4</a></li>

                  <li><a href="home-5.html">Home 5</a></li>

                  <li><a href="home-6.html">Home 6</a></li>

                  <li><a href="home-7.html">Home 7</a></li>

                  <li><a href="home-8.html">Home 8</a></li>

                  <li><a href="home-9.html">Home 9</a></li>

                  <li><a href="home-10.html">Home 10</a></li>

                </ul>
              </li> -->
              <!-- link COURSES  -->
              <!-- <li class="menu-item-has-children -has-mega-menu">
                <a data-barba href="#">Courses <i class="icon-chevron-right text-13 ml-10"></i></a>


                <div class="mega xl:d-none">
                  <div class="mega__menu">
                    <div class="row x-gap-40">
                      <div class="col">
                        <h4 class="text-17 fw-500 mb-20">Course List Layouts</h4>

                        <ul class="mega__list">

                          <li><a data-barba href="courses-list-1.html">Course List v1</a></li>

                          <li><a data-barba href="courses-list-2.html">Course List v2</a></li>

                          <li><a data-barba href="courses-list-3.html">Course List v3</a></li>

                          <li><a data-barba href="courses-list-4.html">Course List v4</a></li>

                          <li><a data-barba href="courses-list-5.html">Course List v5</a></li>

                          <li><a data-barba href="courses-list-6.html">Course List v6</a></li>

                          <li><a data-barba href="courses-list-7.html">Course List v7</a></li>

                          <li><a data-barba href="courses-list-8.html">Course List v8</a></li>

                          <li><a data-barba href="courses-list-9.html">Course List v9</a></li>

                        </ul>

                      </div>

                      <div class="col">
                        <h4 class="text-17 fw-500 mb-20">Course Single Layouts</h4>

                        <ul class="mega__list">

                          <li><a data-barba href="courses-single-1.html">Course Single v1</a></li>

                          <li><a data-barba href="courses-single-2.html">Course Single v2</a></li>

                          <li><a data-barba href="courses-single-3.html">Course Single v3</a></li>

                          <li><a data-barba href="courses-single-4.html">Course Single v4</a></li>

                          <li><a data-barba href="courses-single-5.html">Course Single v5</a></li>

                          <li><a data-barba href="courses-single-6.html">Course Single v6</a></li>

                        </ul>

                      </div>

                      <div class="col">
                        <h4 class="text-17 fw-500 mb-20">About Courses</h4>

                        <ul class="mega__list">

                          <li><a data-barba href="lesson-single-1.html">Lesson Page v1</a></li>

                          <li><a data-barba href="lesson-single-2.html">Lesson Page v2</a></li>

                          <li><a data-barba href="instructors-list-1.html">Instructors List v1</a></li>

                          <li><a data-barba href="instructors-list-2.html">Instructors List v2</a></li>

                          <li><a data-barba href="instructors-single.html">Instructors Single</a></li>

                          <li><a data-barba href="instructors-become.html">Become an Instructor</a></li>

                        </ul>

                      </div>

                      <div class="col">
                        <h4 class="text-17 fw-500 mb-20">Dashboard Pages</h4>

                        <ul class="mega__list">

                          <li><a data-barba href="dashboard.html">Dashboard</a></li>

                          <li><a data-barba href="dshb-courses.html">My Courses</a></li>

                          <li><a data-barba href="dshb-bookmarks.html">Bookmarks</a></li>

                          <li><a data-barba href="dshb-listing.html">Add Listing</a></li>

                          <li><a data-barba href="dshb-reviews.html">Reviews</a></li>

                          <li><a data-barba href="dshb-settings.html">Settings</a></li>

                          <li><a data-barba href="dshb-administration.html">Administration</a></li>

                          <li><a data-barba href="dshb-assignment.html">Assignment</a></li>

                          <li><a data-barba href="dshb-calendar.html">Calendar</a></li>

                          <li><a data-barba href="dshb-dashboard.html">Single Dashboard</a></li>

                          <li><a data-barba href="dshb-dictionary.html">Dictionary</a></li>

                          <li><a data-barba href="dshb-forums.html">Forums</a></li>

                          <li><a data-barba href="dshb-grades.html">Grades</a></li>

                          <li><a data-barba href="dshb-messages.html">Messages</a></li>

                          <li><a data-barba href="dshb-participants.html">Participants</a></li>

                          <li><a data-barba href="dshb-quiz.html">Quiz</a></li>

                          <li><a data-barba href="dshb-survey.html">Survey</a></li>

                        </ul>

                      </div>

                      <div class="col">
                        <h4 class="text-17 fw-500 mb-20">Popular Courses</h4>

                        <ul class="mega__list">

                          <li><a data-barba href="#">Web Developer</a></li>

                          <li><a data-barba href="#">Mobile Developer</a></li>

                          <li><a data-barba href="#">Digital Marketing</a></li>

                          <li><a data-barba href="#">Development</a></li>

                          <li><a data-barba href="#">Finance &amp; Accounting</a></li>

                          <li><a data-barba href="#">Design</a></li>

                          <li><a data-barba href="#">View All Courses</a></li>

                        </ul>

                      </div>
                    </div>

                    <div class="mega-banner bg-purple-1 ml-40">
                      <div class="text-24 lh-15 text-white fw-700">
                        Join more than<br>
                        <span class="text-green-1">8 million learners</span>
                        worldwide
                      </div>
                      <a href="#" class="button -md -green-1 text-dark-1 fw-500 col-12">Start Learning For Free</a>
                    </div>
                  </div>
                </div>


                <ul class="subnav d-none xl:d-block">
                  <li class="menu__backButton js-nav-list-back">
                    <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Courses</a>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="#">Course List Layouts<div class="icon-chevron-right text-11"></div></a>

                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Course List Layouts</a>
                      </li>

                      <li>
                        <a href="courses-list-1.html">Course List v1</a>
                      </li>

                      <li>
                        <a href="courses-list-2.html">Course List v2</a>
                      </li>

                      <li>
                        <a href="courses-list-3.html">Course List v3</a>
                      </li>

                      <li>
                        <a href="courses-list-4.html">Course List v4</a>
                      </li>

                      <li>
                        <a href="courses-list-5.html">Course List v5</a>
                      </li>

                      <li>
                        <a href="courses-list-6.html">Course List v6</a>
                      </li>

                      <li>
                        <a href="courses-list-7.html">Course List v7</a>
                      </li>

                      <li>
                        <a href="courses-list-8.html">Course List v8</a>
                      </li>

                      <li>
                        <a href="courses-list-all.html">Course List All</a>
                      </li>

                    </ul>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="#">Course Single Layouts<div class="icon-chevron-right text-11"></div></a>

                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Course Single Layouts</a>
                      </li>

                      <li>
                        <a href="courses-single-1.html">Course Single v1</a>
                      </li>

                      <li>
                        <a href="courses-single-2.html">Course Single v2</a>
                      </li>

                      <li>
                        <a href="courses-single-3.html">Course Single v3</a>
                      </li>

                      <li>
                        <a href="courses-single-4.html">Course Single v4</a>
                      </li>

                      <li>
                        <a href="courses-single-5.html">Course Single v5</a>
                      </li>

                      <li>
                        <a href="courses-single-6.html">Course Single v6</a>
                      </li>

                    </ul>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="#">About Courses<div class="icon-chevron-right text-11"></div></a>

                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> About Courses</a>
                      </li>

                      <li>
                        <a href="lesson-single-1.html">Lesson Page v1</a>
                      </li>

                      <li>
                        <a href="lesson-single-2.html">Lesson Page v2</a>
                      </li>

                      <li>
                        <a href="instructors-list-1.html">Instructors List v1</a>
                      </li>

                      <li>
                        <a href="instructors-list-2.html">Instructors List v2</a>
                      </li>

                      <li>
                        <a href="instructors-single.html">Instructors Single</a>
                      </li>

                      <li>
                        <a href="instructors-become.html">Become an Instructor</a>
                      </li>

                    </ul>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="#">Dashboard Pages<div class="icon-chevron-right text-11"></div></a>

                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Dashboard Pages</a>
                      </li>

                      <li>
                        <a href="dashboard.html">Dashboard</a>
                      </li>

                      <li>
                        <a href="dshb-courses.html">My Courses</a>
                      </li>

                      <li>
                        <a href="dshb-bookmarks.html">Bookmarks</a>
                      </li>

                      <li>
                        <a href="dshb-listing.html">Add Listing</a>
                      </li>

                      <li>
                        <a href="dshb-reviews.html">Reviews</a>
                      </li>

                      <li>
                        <a href="dshb-settings.html">Settings</a>
                      </li>

                      <li>
                        <a href="dshb-administration.html">Administration</a>
                      </li>

                      <li>
                        <a href="dshb-assignment.html">Assignment</a>
                      </li>

                      <li>
                        <a href="dshb-calendar.html">Calendar</a>
                      </li>

                      <li>
                        <a href="dshb-dashboard.html">Single Dashboard</a>
                      </li>

                      <li>
                        <a href="dshb-dictionary.html">Dictionary</a>
                      </li>

                      <li>
                        <a href="dshb-forums.html">Forums</a>
                      </li>

                      <li>
                        <a href="dshb-grades.html">Grades</a>
                      </li>

                      <li>
                        <a href="dshb-messages.html">Messages</a>
                      </li>

                      <li>
                        <a href="dshb-participants.html">Participants</a>
                      </li>

                      <li>
                        <a href="dshb-quiz.html">Quiz</a>
                      </li>

                      <li>
                        <a href="dshb-survey.html">Survey</a>
                      </li>

                    </ul>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="#">Popular Courses<div class="icon-chevron-right text-11"></div></a>

                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Popular Courses</a>
                      </li>

                      <li>
                        <a href="#">Web Developer</a>
                      </li>

                      <li>
                        <a href="#">Mobile Developer</a>
                      </li>

                      <li>
                        <a href="#">Digital Marketing</a>
                      </li>

                      <li>
                        <a href="#">Development</a>
                      </li>

                      <li>
                        <a href="#">Finance &amp; Accounting</a>
                      </li>

                      <li>
                        <a href="#">Design</a>
                      </li>

                      <li>
                        <a href="#">View All Courses</a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </li> -->
              <!-- link Events -->
              <!-- <li class="menu-item-has-children">
                <a data-barba href="#">Events <i class="icon-chevron-right text-13 ml-10"></i></a>
                <ul class="subnav">
                  <li class="menu__backButton js-nav-list-back">
                    <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Events</a>
                  </li>

                  <li><a href="event-list-1.html">Event List 1</a></li>

                  <li><a href="event-list-2.html">Event List 2</a></li>

                  <li><a href="event-single.html">Event Single</a></li>

                </ul>
              </li> -->
              <!-- link BLOG -->
              <!-- <li class="menu-item-has-children">
                <a data-barba href="#">Blog <i class="icon-chevron-right text-13 ml-10"></i></a>
                <ul class="subnav">
                  <li class="menu__backButton js-nav-list-back">
                    <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Blog</a>
                  </li>

            

                  <li><a href="/blogs">Blog List 3</a></li>

                  <li><a href="/blogs/blog-single.html">Blog Single</a></li>

                </ul>
              </li> -->
              <!-- link Pages -->
              <!-- <li class="menu-item-has-children">
                <a data-barba href="#">
                  Pages <i class="icon-chevron-right text-13 ml-10"></i>
                </a>

                <ul class="subnav">
                  <li class="menu__backButton js-nav-list-back">
                    <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Pages</a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">About Us<div class="icon-chevron-right text-11"></div></a>

                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> About Us</a>
                      </li>

                      <li>
                        <a href="about-1.html">About 1</a>
                      </li>

                      <li>
                        <a href="about-2.html">About 2</a>
                      </li>

                    </ul>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="#">Contact<div class="icon-chevron-right text-11"></div></a>
                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Contact</a>
                      </li>

                      <li>
                        <a href="contact-1.html">Contact 1</a>
                      </li>

                      <li>
                        <a href="contact-2.html">Contact 2</a>
                      </li>

                    </ul>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="#">Shop<div class="icon-chevron-right text-11"></div></a>
                    <ul class="subnav">
                      <li class="menu__backButton js-nav-list-back">
                        <a href="#"><i class="icon-chevron-left text-13 mr-10"></i> Shop</a>
                      </li>

                      <li>
                        <a href="shop-cart.html">Shop Cart</a>
                      </li>

                      <li>
                        <a href="shop-checkout.html">Shop Checkout</a>
                      </li>

                      <li>
                        <a href="shop-list.html">Shop List</a>
                      </li>

                      <li>
                        <a href="shop-order.html">Shop Order</a>
                      </li>

                      <li>
                        <a href="shop-single.html">Shop Single</a>
                      </li>

                    </ul>
                  </li>


                  <li>
                    <a href="pricing.html">Membership plans</a>
                  </li>

                  <li>
                    <a href="404.html">404 Page</a>
                  </li>

                  <li>
                    <a href="terms.html">FAQs</a>
                  </li>

                  <li>
                    <a href="help-center.html">Help Center</a>
                  </li>

                  <li>
                    <a href="login.html">Login</a>
                  </li>

                  <li>
                    <a href="signup.html">Register</a>
                  </li>

                  <li>
                    <a href="ui-elements.html">UI Elements</a>
                  </li>

                </ul>
              </li> -->
            <!-- link contact -->
              <li>
                <a data-barba href="/" class="text-20">Home</a>
              </li>
              <!-- <li>
                <a data-barba href="#">Contact</a>
              </li> -->
              <% if (student) { %>
              <li>
                <a data-barba href="/examschedule" class="text-20">Exam Scheduke</a>
              </li>
              <li>
                <a data-barba href="/score" class="text-20">Score</a>
              </li>
              <% } %>

            </ul>
          </div>

          <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
            <div class="mobile-footer__number">
              <div class="text-17 fw-500 text-dark-1">Call us</div>
              <div class="text-17 fw-500 text-purple-1">033 533 8333</div>
            </div>

            <div class="lh-2 mt-10">
              <div>International University,<br> Thu Duc, Ho Chi Minh city.</div>
              <div>eduboard@educate.com</div>
            </div>

            <div class="mobile-socials mt-10">

              <a href="https://www.facebook.com/profile.php?id=100047967413515" class="d-flex items-center justify-center rounded-full size-40">
                <i class="fa fa-facebook"></i>
              </a>

              <a href="https://twitter.com/tmthanh72507007" class="d-flex items-center justify-center rounded-full size-40">
                <i class="fa fa-twitter"></i>
              </a>

              <!-- <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                <i class="fa fa-instagram"></i>
              </a> -->

              <!-- <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                <i class="fa fa-linkedin"></i>
              </a> -->

            </div>
          </div>
        </div>

        <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
          <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
            <div class="icon-close text-dark-1 text-16"></div>
          </div>
        </div>

        <div class="header-menu-bg"></div>
      </div>


      <div class="col-auto">
        <div class="header-right d-flex items-center">
          <div class="header-right__icons text-white d-flex items-center">
            <!-- hamburger menu -->
            <div class="d-none xl:d-block ml-20">
              <button class="text-white items-center" data-el-toggle=".js-mobile-menu-toggle">
                <i class="text-11 icon icon-mobile-menu"></i>
              </button>
            </div>
          </div>

          <!-- Log In -->
          <div class="header-right__buttons d-flex items-center ml-30 md:d-none">
            <% if (!student) { %>
            <a href="/login" class="button -sm -white text-dark-1 ">Log in</a>
            <% } else { %>
            <p class="text-red fw-600 mr-30 text-20">Hello <%= student.username %></p>
            <form action="/logout" method="POST">
              <button type="submit" class="text-white">Log Out</button>
            </form>            
            <% } %>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
