.no-page {
  width: 100%;
  height: 100vh;

  .container,
  .row {
    height: 100%;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__content {
  }

  &__title {
    font-size: rem(200px);
    line-height: 1;

    @include media-down(md) {
      font-size: rem(120px);
    }

    @include media-down(sm) {
      font-size: rem(90px);
    }
  }

  &__subtitle {}

  &__button {}
}
