<% layout('layouts/boilerplate')%>

<div class="content-wrapper js-content-wrapper">
    <!-- announcement -->
    <section class="masthead -type-1 js-mouse-move-container">
        <div class="masthead__bg">
            <img src="img/home-1/hero/bg.png" alt="image" />
        </div>

        <div class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle">
                        <h2 class="sectionTitle__title text-green-1">
                            Announcement
                        </h2>

                        <p class="sectionTitle__text text-white">
                            The most recent announcements.
                        </p>
                    </div>
                </div>
            </div>

            <div
                data-anim-wrap
                class="js-section-slider pt-50"
                data-gap="30"
                data-pagination
                data-slider-cols="base-3 xl-3 lg-2 md-2 sm-1"
            >
                <div class="swiper-wrapper">
                    <% for( let announcement of announcements ) { %>
                        <div class="swiper-slide">
                            <div
                                data-anim-child="slide-left delay-1"
                                class="testimonials -type-1"
                            >
                                <div class="testimonials__content">
                                    <a href="#">
                                      <h4 class="testimonials__title text-center"><%= announcement.title%></h4>
                                    </a>
                                   
                                    <p class="testimonials__text">
                                        <%=announcement.content%>
                                    </p>
                                    <hr></hr>
                                    <p class="testimonials__text text-center">
                                        <%=announcement.createdAt.toDateString()%>
                                    </p>
    
                                    
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                <div
                    class="d-flex x-gap-20 items-center justify-end pt-60 lg:pt-40"
                >
                    <div class="col-auto">
                        <button
                            class="button -outline-white text-white size-50 rounded-full d-flex justify-center items-center js-prev"
                        >
                            <i class="icon icon-arrow-left text-24"></i>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button
                            class="button -outline-white text-white size-50 rounded-full d-flex justify-center items-center js-next"
                        >
                            <i class="icon icon-arrow-right text-24"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <svg
            class="svg-waves"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28"
            preserveAspectRatio="none"
            shape-rendering="auto"
        >
            <defs>
                <path
                    id="gentle-wave"
                    d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
                />
            </defs>
            <g class="svg-waves__parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" />
                <use xlink:href="#gentle-wave" x="48" y="3" />
                <use xlink:href="#gentle-wave" x="48" y="5" />
                <use xlink:href="#gentle-wave" x="48" y="7" />
            </g>
        </svg>
    </section>
    <!-- majors -->
    <section class="layout-pt-md layout-pb-md">
        <div data-anim-wrap class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle">
                        <h2 class="sectionTitle__title">Top Majors</h2>

                        <p class="sectionTitle__text">
                            Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div>
                </div>
            </div>

            <div
                class="overflow-hidden pt-50 js-section-slider"
                data-gap="30"
                data-loop
                data-pagination
                data-slider-cols="xl-6 lg-4 md-2 sm-2"
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            data-anim-child="slide-left delay-2"
                            class="featureCard -type-1 -featureCard-hover"
                        >
                            <div class="featureCard__content">
                                <div class="featureCard__icon">
                                    <img
                                        src="img/featureCards/1.svg"
                                        alt="icon"
                                    />
                                </div>
                                <div class="featureCard__title">
                                    School of Industrial Engineering and Management
                                </div>
                                <div class="featureCard__text">
                                    1000+ Students
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            data-anim-child="slide-left delay-3"
                            class="featureCard -type-1 -featureCard-hover"
                        >
                            <div class="featureCard__content">
                                <div class="featureCard__icon">
                                    <img
                                        src="img/featureCards/2.svg"
                                        alt="icon"
                                    />
                                </div>
                                <div class="featureCard__title">
                                    School of Business
                                </div>
                                <div class="featureCard__text">
                                    1000+ Students
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            data-anim-child="slide-left delay-4"
                            class="featureCard -type-1 -featureCard-hover"
                        >
                            <div class="featureCard__content">
                                <div class="featureCard__icon">
                                    <img
                                        src="img/featureCards/3.svg"
                                        alt="icon"
                                    />
                                </div>
                                <div class="featureCard__title">
                                    School of Computer Science and Engineering
                                </div>
                                <div class="featureCard__text">
                                    2000+ Students
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            data-anim-child="slide-left delay-5"
                            class="featureCard -type-1 -featureCard-hover"
                        >
                            <div class="featureCard__content">
                                <div class="featureCard__icon">
                                    <img
                                        src="img/featureCards/4.svg"
                                        alt="icon"
                                    />
                                </div>
                                <div class="featureCard__title">
                                    School of Chemical and Environmental Engineering
                                </div>
                                <div class="featureCard__text">1000+ Students</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            data-anim-child="slide-left delay-6"
                            class="featureCard -type-1 -featureCard-hover"
                        >
                            <div class="featureCard__content">
                                <div class="featureCard__icon">
                                    <img
                                        src="img/featureCards/5.svg"
                                        alt="icon"
                                    />
                                </div>
                                <div class="featureCard__title">
                                    School of Languages
                                </div>
                                <div class="featureCard__text">
                                    1000+ Students
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div
                            data-anim-child="slide-left delay-7"
                            class="featureCard -type-1 -featureCard-hover"
                        >
                            <div class="featureCard__content">
                                <div class="featureCard__icon">
                                    <img
                                        src="img/featureCards/6.svg"
                                        alt="icon"
                                    />
                                </div>
                                <div class="featureCard__title">
                                    School of Economics, Finance and Accounting
                                </div>
                                <div class="featureCard__text">
                                    500+ Students
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="d-flex justify-center x-gap-15 items-center pt-60 lg:pt-40"
                >
                    <div class="col-auto">
                        <button
                            class="d-flex items-center text-24 arrow-left-hover js-prev"
                        >
                            <i class="icon icon-arrow-left"></i>
                        </button>
                    </div>
                    <div class="col-auto">
                        <div class="pagination -arrows js-pagination"></div>
                    </div>
                    <div class="col-auto">
                        <button
                            class="d-flex items-center text-24 arrow-right-hover js-next"
                        >
                            <i class="icon icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
