// $grid-breakpoints: (
//   xs: 0,
//   sm: 480px,
//   md: 768px,
//   lg: 1024px
// );
$grid-gutter-width: 30px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

@import "./bootstrap/bootstrap-reboot.scss";
@import "./bootstrap/bootstrap-grid.scss";
