.blogCard.-type-1 {
  .blogCard {
    &__image {
      img {
        width: 100%;
      }
    }

    &__content {
      margin-top: 20px;
    }

    &__category {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: #6440FB;
    }

    &__title {
      margin-top: 10px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      color: #242239;
    }

    &__date {
      margin-top: 10px;
      font-size: 15px;
      line-height: 26px;
      font-weight: 400;
      color: var(--color-light-1);
    }
  }
}

.blogCard.-type-2 {
  display: flex;
  align-items: center;

  .blogCard {
    &__image {
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }

    &__content {
      margin-left: 17px;
    }

    &__category {
      font-size: 13px;
      line-height: 15px;
      font-weight: 400;
      text-transform: uppercase;
      color: #6440FB;
    }

    &__title {
      margin-top: 10px;
      color: #242239;
      font-size: 17px;
      font-weight: 500;
      line-height: 26px;
    }

    &__date {
      margin-top: 10px;
      color: var(--color-light-1);
      font-size: 13px;
      line-height: 1;
      font-weight: 400;
    }
  }
}

.blogCard.-type-3 {
  .blogCard {
    &__image {
      img {
        width: 100%;
      }
    }

    &__category {
      text-transform: uppercase;
    }
  }
}
