<% layout('layouts/boilerplate')%>

<table class="table mt-80">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject code</th>
            <th scope="col">Subject name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
            <th scope="col">Start hour</th>
            <th scope="col">Duration</th>
            <th scope="col">Room</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>ITIT01</td>
            <td>SE</td>
            <td>12</td>
            <td>25/12/2022</td>
            <td>8:00</td>
            <td>120</td>
            <td>A1.602</td>
        </tr>
    </tbody>
</table>
