<% layout('layouts/boilerplate')%>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject code</th>
            <th scope="col">Subject name</th>
            <th scope="col">Credit</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>ITIT01</td>
            <td>SE</td>
            <td>04</td>
            <td>99</td>
        </tr>
        
    </tbody>
</table>
